<a  [routerLink]="['/users', oneUser.id]">
    
    <div class="pull-left">
        <h3 class="list-group-item-heading"> User: {{oneUser.name }}</h3>
        <p class="list-group-item-text">He has : {{oneUser.years}} years</p>
        <h5 class="list-group-item-text"> 
           Date of birth:  {{oneUser.dayOfBorn| date:'dd/mm/yyyy'}}</h5>
          </div>
        <span class="pull-right" >
            <img src={{oneUser.picture}} alt=`{{oneUser.name}}` class="img-responsive">
        </span>
</a>